stages: [test]

maildns:report:
  stage: test
  tags: [windows]
  before_script:
    - $ProgressPreference = 'SilentlyContinue'
  script:
    - $domains = ($env:MAIL_DOMAINS -split '[,\s]+' | ? { $_ })
    - .\Check-MailDns.ps1 -ApiBase $env:API_BASE -Domains $domains -Summary -OutputJson 'reports\maildns.json'
  artifacts:
    when: always
    paths: [reports\maildns.json]
  allow_failure:
    exit_codes: [1]     # <- WARN (1) ist erlaubt, FAIL (2) bleibt rot


maildns:strict:
  stage: test
  tags: [windows]
  before_script:
    - $ProgressPreference = 'SilentlyContinue'
  script:
    - $domains = ($env:MAIL_DOMAINS -split '[,\s]+' | Where-Object { $_ })
    - .\Check-MailDns.ps1 -ApiBase $env:API_BASE -Domains $domains -Strict -Summary -OutputJson 'reports\maildns.json'
  artifacts:
    when: always
    paths: [reports\maildns.json]
  when: manual
